<h1>Notícias::Angular</h1>
<hr>
<app-barra-navegacao (acao)="irPara($event)"></app-barra-navegacao>
<hr>
  
<app-noticias-recentes [noticias]="noticiasPublicadas()" (mostrou)="mostrar($event)" *ngIf="tela == 'home'" ></app-noticias-recentes>

<app-leitor-noticia *ngIf="tela == 'leitura' && leituraNoticia" [leituraNoticia] = "pegarNoticia()" (fecharNoticia)="fechar($event)"></app-leitor-noticia>

<app-todas-noticias [listaNoticias]= "todasaNoticias()"  (editarNoticia)= "editar($event)" (excluirNoticia)= "excluir($event)" *ngIf="tela == 'lista'"></app-todas-noticias>

<app-cadastrar-editar-noticia *ngIf="tela == 'cadastro' || tela == 'edicao'" (formulario)="salvar($event)"></app-cadastrar-editar-noticia>